.bg-purple{
  background-color: rgb(60, 11, 84);
  color: white;
  text-align: center;
  line-height: 10vh;
}
.section2{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr,1fr,1fr,1fr;
  padding: 10px;
  font-weight: 600;
}
.section2>div{
  width: fit-content;
  display: flex;
  margin: 20px 0px 20px 20px;
}

.section3{
  display: grid;
  grid-gap: 20px;
}

h1{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.card{
  margin: 10px;
  border: solid gray 1px;
  box-shadow: 0px 1px 5px gray;
}
